html {
    background:  url('./assets/wp15883591-desert-sun-wallpapers.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    height: 140px-60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.main {

    height: 480px;
    width: 370px;

    background: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(10px);

    border-radius: 16px;
    padding : 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.addTask {
    color: aliceblue;
    background-color: rgba(40, 132, 212, 0.545);
    height: 40px;
    width: 270px;
    border-radius: 18px;
    bottom: 20px;
    
}